aside {
    background-color:rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    color: white;
    font-size: 25px;
}
aside p, aside h2, aside section, #resume p {
    -webkit-text-stroke: 1px;
}

aside section {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: black;
}

body {
    background: fixed;
    background-image: url("./img/tumblr_5ab9e28497abe682ac7b73a466f828a5_3f8d72cb_2048.jpg");
    background-repeat: round;
    background-size: cover;
}

#resume, footer {
    background-color:rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: black;
    color: white;
}

#resume li {
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-color: black;
}

.menu {
    font-family: impact;
    font-size: 40px;
    background-color: rgba(255, 0, 0);
    -webkit-text-stroke: 1.75px;
}

header > a, .menu > a {
    text-decoration: none;
}

.menu > a > p {
    color: black;
    -webkit-text-stroke-color: white;
}

#resume {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li article {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
    font-size: 25px;
}