.bordure {
    border-style: solid;
}

body {
    list-style-type: none;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

li {
    display: flex;
    flex-wrap: nowrap;
}

li h1 {
    text-align: center;
    font-size: 5em;
}

.baniere {
    height: 650px;
    flex-grow: 1;
}

.baniere:hover {
    cursor: pointer;
}

aside {
    flex-basis: 40%;
    margin: 2vh;
    background-size: contain;
    text-align: center;
}

.menu {
    display: inline-block;
    text-decoration: none;
    flex-grow: 25%;
    border-style: solid;
    padding: 1vh;
    flex-basis: 25%;
}

.menu:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    flex-basis: 30%;
}

a > p {
    margin: 0;
    align-self: center;
}

#menu li {
    padding: 0;
}

#menu {
    display: flex;
    text-align: center;
}

#resume {
    border-style: solid;
    margin: 2vh;
    border-radius: 2%;
    flex-basis: 70%;
    text-align: center;
}

#resume h1 {
    font-size: 5em;
}

#resume p {
    text-align: justify;
    padding: 30px;
}

#resume img {
    height: 40vh;
    border-radius: 3%;
}

nav {
    flex-grow: 1;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header img {
    width: 98vw;
    max-height: 60vh;
}

ul {
    padding: 1vh;
}

article > p {
    text-align: justify;
    padding: 2vh;
}

li > a {
  vertical-align: baseline;
}

.reseaux {
    padding-bottom: 4vh;
}

aside p {
    text-align: justify;
    padding: 20px;
    text-align: center;
}

aside p, aside h2, aside section, #resume p {
    font-size: 20px;
}

footer{
    border-style: solid;
    margin: 2vh;
    text-align: center;
}